<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar Categoria" (keyup)="buscar(txtTermino.value)"
          #txtTermino>

      </div>
    </div>
  </div>
</div>
<div class="alert alert-primary" role="alert" *ngIf="cargando">
  <div class="col-12 text-center">
    <h4 class="alert-heading">Cargando</h4>
    <i class="fa fa-spin fa-refresh"></i>
    <p class="mb-0"></p>
  </div>
</div>
<div class="col-12" *ngIf="!cargando">
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <button class="btn btn-outline-primary" [routerLink]="['/dashboard/crearCategoria']"> crear </button>
        </div>
      </div>
      <h4 class="card-title">Categorias</h4>
      <h6 class="card-subtitle">Usuarios cargados en mi aplicacion</h6>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>avatar</th>
              <th>nombre</th>
              <th>estado</th>
              <th class="text-nowrap">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias">
              <td>
                <img [src]="(categoria.img.url | imagenFirebase | async) " alt="user" width="40" class="img-circle">
              </td>
              <td>
                <div class="input-group">
                  <input type="text" [value]="categoria.nombre" #txtnombre class="form-control">
                  <span class="input-group-btn"> <button (click)="guardarNombre(txtnombre.value,categoria.uid)"
                      type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></span>
                </div>
              </td>
              <td>
                <select [(ngModel)]="categoria.estado" class="form-control"
                  (change)="cambiarEstado(categoria.estado,categoria.uid)">
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
              </td>
              <td class="text-nowrap">
                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i
                    class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a type="button" data-toggle="tooltip" data-original-title="Close" (click)="eliminarCategoria(categoria.uid)" > <i class="fa fa-close text-danger"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="cambiarPagina(-5)">Atras</button>
      <button type="button" class="btn btn-outline-primary" (click)="cambiarPagina(+5)">Siguiente</button>
    </div>
  </div>
</div>
