<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Crear nueva categoria</h4>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-4 text-center">
            <div class="form-group">
              <div class="mb-3">
                <input type="text" name="" id="" class="form-control" placeholder="Ingrese nombre categoria"
                  aria-describedby="helpId">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="form-label">Estado</label>
              <div class="switch">
                <label>OFF
                  <input type="checkbox" checked=""><span class="lever"></span>ON</label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary"> Limpiar imagen </button>
            </div>
            <div class="form-group">
              <div class="image-upload">
                <label for="file-input">
                  <img src="https://avatars.akamai.steamstatic.com/46deb9d28238b87fc02ad664c413a4383e992615_full.jpg"
                    alt="" class="img-fluid rounded" />
                </label>
                <input type="file" name="" id="file-input" />
              </div>
              <div class="form.group">
                <button class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
