<div class="row d-flex justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Sample Form with the Icons</h4>
        <h6 class="card-subtitle">made with bootstrap elements</h6>
        <form class="form p-t-20">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-product-hunt"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Nombre Producto">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-toggle-down"></i></div>
              <select name="" id="" class="form-control">
                <option value="">Seleccione Categoria</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-money"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Precio">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Descripcion"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox checkbox-success">
                <input id="checkbox33" type="checkbox">
                <label for="checkbox33">Estado</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col" >
              <app-img></app-img>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-12 d-flex justify-content-center">
              <button type="button" class="btn waves-effect waves-light btn-lg btn-primary">Crear Producto </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
